.Header {
  background-color: yellow;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow: 2px 2px 5px red;
  color: #C19A6b;
}