.WaterInfo {
	grid-area: water;
	justify-self: start;
	align-self: stretch;

	width: 100%;
	padding: 10px;

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"waterResources"
		"waterSymbol"
	;
	grid-gap: 20px;
	justify-items: stretch;
	align-items: stretch;
	
	justify-content: center;
	align-content: center;
}

.WaterResources {
	grid-area: waterResources;
	justify-self: start;
	align-self: stretch;

	width: 100%;
	padding: 10px;

	display: grid;
	grid-template-columns: 30px auto;
	grid-template-areas: 
		"bar bottles"
	;
	grid-gap: 20px;
	justify-items: stretch;
	align-items: stretch;
}

.WaterSymbol {
	grid-area: waterSymbol;
	justify-self: center;
	align-self: center;

	height: 100%;
	width: 100%;
}

.WaterBottles {
	grid-area: bottles;

	height: 100%;
	width: 100%;

	display: grid;
	grid-gap: 5px;
	justify-items: center;
	align-items: start;
	grid-template-rows: repeat(auto-fill, minmax(10px, 1fr));

}

.barWrapper {
	grid-area: bar;

	height: 100%;
	width: 100%;
}